#music-control {
  margin-top: 15px;
  padding: 12px 24px;
  background: transparent;
  border: 2px solid cyan;
  color: cyan;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 10px cyan, 0 0 20px cyan;
}

#music-control:hover {
  background: cyan;
  color: black;
}
